<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>175244524194-2n2sb0sq513as20knlg4b6m1s6hr5eor.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.175244524194-2n2sb0sq513as20knlg4b6m1s6hr5eor</string>
	<key>API_KEY</key>
	<string>AIzaSyA3gt2SnhmZVz6VdrMkxhkEnYFzGLIZ95U</string>
	<key>GCM_SENDER_ID</key>
	<string>175244524194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medicineApp</string>
	<key>PROJECT_ID</key>
	<string>medicineapp-a6c60</string>
	<key>STORAGE_BUCKET</key>
	<string>medicineapp-a6c60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:175244524194:ios:c77558493608c84a9235fb</string>
</dict>
</plist>